/lib
*.o
*.d
*.elf
*.hex
*.map
*.TMP
*.axf
*.lst
*.objdump
*.img
*.xz
/project/**/*.a
/project/**/*.bin
/src/**/*.a
/project/*/gcc/*.iex
/project/*/gcc/*.dep
/project/*/gcc/*.build_log.htm
/project/*/gcc/mdk_debug/*.uvguix.*
prebuilt/gcc-arm-none-eabi-4_9-2015q2-20150609-linux.tar.bz2
tools/gcc-arm-none-eabi-4_9-2015q2
gcc.mk
